#nav{
    margin: 10px, 0;
}#nav ul{
    overflow: hidden;
    background-color: black;
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav li{
    float: left;
}
#nav a{
    display: block;
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 0.7em 2em;
    font-weight: bold;

}
#nav a.active{
    background: #393;
}
#nav li:last-child{
    float: right;
}
#nav a:hover{
    background: #555;
}
html{
    background-color: cornsilk;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;

}
#térkép {
    text-align: center;
}

#étteremkép{
    float: right;  
    position: sticky;
    width: 550px; height: auto;
    margin: 10px;

}
table{
    width: 90%;
    height: auto;
    padding: 20px;
    float:center;
    border: solid 2px;
    margin: 0 auto;
 }
.étlap{
    text-align: center;
}
h4{
    font-weight: bolder;
    color: lightcoral;
    margin: 15px 15px 15px 15px
}
#price{
    text-align: right;
}
img{
    float: right;
}
.card{
    width: 25%;
    height: auto;
}
.gomb{
    position:absolute;
bottom:0;
right:0;
z-index:0;
}
h2{
    text-align: center;
    margin: 15px 15px 15px 15px
}
div{
    margin: 15px 15px 15px 15px
}
.form-check{
    float: center;
}









